
// MAIN
$gray: #373737;
$darkgray: #171717;
$lightgray: #999999;
// $red: #7A151F;
$orange: #DF9A57;
$purple: #621296;
$pink: #CD63EB;
$off-white: #f4efff;
$blue: #859bba;
$green: #c5dfc1;
// $yellow: #FFC65A;
// $light-gray: #F4F4F4;

// VARIANT
$orange-shadow: rgba(223, 154, 87, 0.7);
$gray-shadow: rgba(28, 28, 28, 0.7);
$pink-shadow: rgba(205, 99, 235, 0.7);
$blue-shadow: rgba(133, 155, 186, 0.7);
$green-shadow: rgba(197, 223, 193, 0.7);
$off-white-shadow: rgba(233, 230, 255, 0.7);

$pink-shadow-soft: rgba(205, 99, 235, 0.5);
