
// MAIN
$gray: #373737;
// $red: #7A151F;
// $orange: #DF9A57;
$purple: #621296;
$pink: #CD63EB;
// $blue: #8DAA9D;
// $green: #c5dfc1;
// $yellow: #FFC65A;
// $light-gray: #F4F4F4;

// VARIANT
$gray-shadow: rgba(28, 28, 28, 0.7)
