p, h1, h2, h3, i {
  color: $gray;
}

html {
  min-height: 100vh;
}

body {
  min-height: inherit;
  background-color: $gray;
  margin: 0px;
  font-family: $body-font;
}

.container-custom {
  margin: 0 24px;
  padding: 24px 0;
}

.centered-column {
  background-color: $off-white;
  width: 800px;
  min-height: calc(100vh - 109px);
  margin: 0 auto;
  padding: 24px;
  border-left: solid 2px $purple;
  border-right: solid 2px $purple;
  h2 {
    text-align: center;
  }
}

.wide-column {
  width: 1200px !important;
}

.hidden {
  display: none !important;
}

p {
  font-family: $para-font;
  line-height: 150%;
}

a {
  text-decoration: none;
  color: $purple;
}

.rounded {
  border-radius: 12px;
}

.sticky {
  position: sticky !important;
  top: 85px;
}

.padded {
  padding: 24px;
}

#map {
  border-radius: 4px;
}

.orange-ul {
  padding-bottom: 12px;
  border-bottom: 2px solid $orange;
}
