h1 {
  font-size: 40px;
  margin: 0;
  color: $gray;
}

.title-row {
  display: grid;
  grid-template-columns: 1fr 120px;
  margin-bottom: 48px;
}

.title-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 1.4;
  div i {
    width: 16px;
  }
}

.square-date-box {
  color: $off-white;
  height: 120px;
  width: 120px;
  background-color: $gray-shadow;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .date-head {
    font-size: 28px;
    margin: 0 0 8px 0;
  }
  .time-head {
    font-size: 16px;
    margin: 0;
  }
}

.event-show-grid {
  display: grid;
  grid-template-columns: auto auto 250px;
  grid-template-areas:
    "a a b"
    "c d b";

  h2 {
    margin: 16px 0;
  }

  .rsvp-block {
    grid-area: b;
    background-color: $darkgray;
    color: $off-white;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 24px;

    h2, p {
      margin: 0px !important;
      line-height: 2;
    }
  }

  .about-block {
    grid-area: a;
    padding: 24px;
    padding-left: 0;
    min-height: 224px;
  }

  .map-block {
    grid-area: c;
    width: 300px;
    min-height: 400px;
  }
  
  .extra-block {
    grid-area: d;
    margin-left: 24px;
  }
}
