// Input div for simple forms gem
.simple_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inputs {
  width: 80%;
}

.form-actions {
  width: 40%;
  margin-top: 40px;
}
.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  input {
    margin: 12px 0px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 8px;
    font-family: $body-font;
  }
}

.btn {
  width: 100%;
  padding: 8px 12px;
  border-radius: 12px;
  font-family: $body-font;
  font-size: 16px;
  transition: ease-in 0.1s;
  border: 2px solid $pink;
  color: $pink;
}
.btn:hover {
  background-color: $pink-shadow;
  color: $darkgray !important;
  font-weight: bold;
}

label.boolean {
  //MIGHT WANT CUSTOM CHECKBOX?
  display: flex;
  align-items: center;
  input {
    margin-right: 12px;
  }
}
