.index-columns {
  display: grid;
  grid-template-columns: 1fr 600px;
  ul {
    padding: 0;
    margin: 0 50px 0 0;
  }
}

.index-card {
  font-family: $body-font;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 120px;
  padding: 20px;
  margin-bottom: 20px;
  height: 144px;
  border: 1px solid $purple;
  border-radius: 8px;
  background: $off-white;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 40px;
    margin: 0;
  }
  div {
    height: -webkit-fill-available;
    border-left: 1px solid black;
    padding-left: 6px;
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .time-text{
    font-size: 20px;
    font-family: inherit;
    line-height: 100%;
    margin: 0 0 12px 0;
  }
}

.index-card:hover {
  transition: 0.3s;
  scale: 102%;
  box-shadow: 0px 0px 12px $gray-shadow;
}

.focus-shadow {
  box-shadow: 0 0 12px $pink !important;
}

#map {
  width: 600px;
  height: 90vh;
  border-radius: 4px;
  position: sticky;
  top: 84px;
}
