<div class="about-box hidden" data-about-box-target="overlay" data-action="click->about-box#hide">
  <div class="about-text">
    <h2>About</h2>
    <p>This page was built as a personal project by Damian Hallengren using Ruby on Rails.  All of the data on the page is faked, either through the faker gem or with publically available data (ie., for the registration of restaurants).  As the site was built as a type of training, Bootstrap and other libraries are used sparingly, or not at all.  Much of the page is unfinished, and was only ever developed with desktop screens in mind.</p>
    <p>For a better look at what the creator is capable of, you might want to check out the <a href="">Unscroll</a> or <a href="">BurgsRUs</a> projects.  Both were built in a small team at the Le Wagon web development bootcamp.</p>
  </div>
</div>
