<% 10.times do %>
<%=  link_to event_path(event) do %>
  <div class="event-card rounded">
    <p class="event-card-name"><%= event.title %></p>
    <%# If the below is a link, it messes with link structure stuff.  Replace with JS %>
    <div class="event-card-location"><i class="fa-solid fa-location-dot"></i> <%= event.venue.name %></div>
    <p class="event-card-date-time"><%= event.start_date_time %></p>
  </div>
<% end %>
<% end %>
