<div class="footer">
  <div class="links">
    <%= link_to "Home", root_path %>
    <%= link_to "Github", "https://www.github.com/DamoJoHa", target: "_blank" %>
    <a>About</a>
  </div>
  <p id="about-text">Built by Damian Hallengren</p>
</div>
