<div class="centered-column wide-column">
  <h1><%= @venue.name %></h1>
  <ul class="events">
    <% @venue.events.each do |event| %>
      <li><%= event.title %></li>
    <% end %>
  </ul>
  <div class="favorite-block">
    <% if @venue.users.include?(current_user) %>
      <%= link_to remove_favorite_venue_path(@venue) do %>
        <i class="fa-solid fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to add_favorite_venue_path(@venue) do %>
        <i class="fa-regular fa-heart"></i>
      <% end %>
    <% end %>
  </div>
</div>
