.navbar {
  width: -webkit-fill-available;
  height: 60px;
  background-color: $darkgray;
  border-bottom: 1px solid $off-white;
  color: $off-white;
  a {
    text-decoration: none;
    color: $off-white;
  }
  padding: 0px 24px;
  position:sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#homelink {
  font-family: $headers-font;
  font-size: 52px;
  margin-top: 12px;
}

